.addTaskContainer {
	margin: 0.3rem;
	width: 200px;
	height: 190px;
	background-color: rgb(177, 177, 177);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5%;
	padding: 0.2rem 0;
}
.addTaskButton:hover {
	cursor: pointer;
}
.addTaskButton {
	background-color: transparent;
	border: none;
	padding: 1rem;
}
